* {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: 100;
  margin: 0;
  padding: auto;
}

a {
  color: #faf2f2;
  text-decoration-line: none;
  font-size: 30px;
}

.nav {
  background-color: #d93737;
  display: flex;
  justify-content: flex-end;
  padding: 35px;
  gap: 30px;
  width: auto;
}

.welcome-section {
  background-color: #0e0d0d;
  color: #fffbfb;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
  text-align: center;
  justify-content: center;
  padding: auto;
}

.p1 {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: #b42222;
  text-align: center;
}

h2 {
  font: bold;
  color: #f7faff;
  font-weight: 30px;
  font-size: 3.3em;
  text-align: center;
}

section {
  background-color: #2f3f5b;
  color: #fafafa;
  height: 120vh;
  width: auto;
  flex-direction: column;
  display: flex;
  text-align: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  gap: 3rem;
}

.project:hover {
  border: 1px solid #777;
}

.heading2 {
  color: #000;
  padding-bottom: 5px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.btn {
  margin: auto;
  display: flex;
  height: 35px;
  width: 5%;
  text-align: center;
  background-color: #2b2d2f;
  color: #f4efef;
  font-size: large;
  border-radius: 3px;
}
